[profile.default]
evm_version = 'cancun'
solc = "0.8.30"
src = "src"
out = "out"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 10000
bytecode_hash = "none"

fs_permissions = [
    { access = "read", path = "./"},
    { access = "read-write", path = "./script"},
]

[etherscan]
berachain = { chain = "80094", key = "${ETHERSCAN_API_KEY}", url = "https://api.berascan.com/api" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
